.container{
    padding-top: 70px;
}
main{
    width: 75%;
    margin: auto;
}
.overlay{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: rgba(182, 182, 182, 0.637);
    z-index: 1;
    display: none;
}
.showOverlay{
    display: block;
}
