
<div class="grid">

    <div class="menu">
        <div class="category-container sticky-on">
            <ul class="categories">
                <li class="divider">
                    <a class="expand" (click)="div1Function()" [routerLink]="['./profileinfo']">Account Preferences</a>
                    <div *ngIf="div1">
                    <a class="subcategory active" (click)="scrolltoprofile()">Profile Information</a>
                    <a class="subcategory active" (click)="scrolltosite()">Site Preferences</a>
                    <a class="subcategory active" (click)="scrolltosync()">Syncing Options</a>
                    </div>
                </li>
               
                <li class="divider">
                    <a class="expand" (click)="div2Function()" [routerLink]="['./security']">Sign In & Security</a>
                    <div *ngIf="div2">
                        <a class="subcategory active">Account Access</a>
                    </div>
                </li>
                <li class="divider">
                    <div class="expand" (click)="div3Function()">Visibilty</div>
                    <div *ngIf="div3">
                        <a class="subcategory active">profile & network</a>
                        <a class="subcategory active">LinkedIn activity</a>
                    </div>
                </li>
                <li class="divider">
                    <div class="expand" (click)="div4Function()">Communications</div>
                    <div *ngIf="div4">
                        <a class="subcategory active">Your notifications</a>
                        <a class="subcategory active">Who can reach you</a>
                        <a class="subcategory active">Messaging experience</a>
                    </div>
                </li>
                <li class="divider" (click)="div5Function()">
                    <div class="expand">DataPrivacy</div>
                    <div *ngIf="div5">
                        <a class="subcategory active">Job preferences</a>
                        <a class="subcategory active">Other applications</a>
                    </div>
                </li>
                <li>
                    <div class="expand">Advertising data</div>
                </li>
            </ul>
            <div class="menu-footer">
                <p>Have Questions?</p>
                <p class="help">Visit Help Centre</p>
            </div>
        </div>
    </div>
       


    <!--second component -->
    <router-outlet></router-outlet>
</div>