<div class="flex-container">
  <div class="flex-items">
    <div class="flex-container-profile">

      <!-- profile picture and profession -->
      <div class="flex-items-profile">
        <div class="profile-container">
          <!-- cover image -->
          <div class="profile-back">

          </div>
          <!-- profile-picture -->
          <div class="profile-picture">
            <!-- absolute-1 -->
            <img
              src="https://media-exp3.licdn.com/dms/image/C5103AQHiyCu0ytkiKA/profile-displayphoto-shrink_800_800/0/1582986312253?e=1628726400&v=beta&t=HG0iMm8oIicMJmUtLro1ZdHNrxUdqjTa5HyTCj3SU_8"
              alt="">
          </div>
          <div class="profile-container-1">
            <!-- absolute-2 -->
            <div class="profile-content profile-name">
              <p>Vijay Akash</p>
            </div>
            <div class="profile-content light-color profile-name">
              <p>Full Stack Developer</p>
            </div>
            <div class="profile-content profile-views">
              <p>Who viewed your profile ? <span style="color: #0C67C2;">3</span></p>
              <p>Views of your post ? <span style="color: #0C67C2;">647</span></p>
            </div>
            <div class="profile-content profile-footer">
              <p><span class="iconify" data-inline="false" data-icon="bi:bookmark-fill"
                  style="color: #666666; font-size: 10px;"></span> My items </p>
            </div>
          </div>
        </div>

      </div>
      <div class="flex-items-profile sticky">
        <div class="profile-recent text-recent">
          <div class="heading">Recent</div>
          <div class="hover-heading">
            <div><span class="iconify" data-inline="false" data-icon="fluent:people-audience-24-filled"
                style="font-size: 15px; color:#666666; "></span> <span class="span-text">Developers</span> </div>
            <div><span class="iconify" data-inline="false" data-icon="heroicons-solid:hashtag"
                style="font-size: 15px; color:#666666; "></span> <span class="span-text">startups</span></div>
            <div><span class="iconify" data-inline="false" data-icon="heroicons-solid:hashtag"
                style="font-size: 15px; color:#666666; "></span> <span class="span-text">recruitment</span> </div>
            <div><span class="iconify" data-inline="false" data-icon="heroicons-solid:hashtag"
                style="font-size: 15px; color:#666666; "></span><span class="span-text">india</span></div>
            <div><span class="iconify" data-inline="false" data-icon="fluent:people-audience-24-filled"
                style="font-size: 15px; color:#666666;"></span><span class="span-text">Data Scientist</span></div>

          </div>
        </div>
        <div class="profile-recent text-recent">
          <div class="heading color-blue">Groups <span>+</span></div>

        </div>
        <div class="profile-recent">
          <div class="heading color-blue">Events</div>
        </div>
        <div class="profile-recent">
          <div class="heading color-blue">Followed hashtag</div>
        </div>


      </div>
    </div>
  </div>
  <div class="flex-items">
    <div class="flex-container-feeds">
      <div class="flex-items-feeds">
        <div class="flex-container-post">
          <div class="flex-items-post">
            <img
              src="https://media-exp3.licdn.com/dms/image/C5103AQHiyCu0ytkiKA/profile-displayphoto-shrink_800_800/0/1582986312253?e=1628726400&v=beta&t=HG0iMm8oIicMJmUtLro1ZdHNrxUdqjTa5HyTCj3SU_8"
              width="70vw">
          </div>
          <div class="flex-items-post input-post">
            <input type="text" placeholder="Start a post">
          </div>

        </div>
        <div>
          <div class="flex-container-elements">
            <div class="flex-items-elements">
              <div class="flex-container-feeds-icon">
                <div class="flex-items-feeds-icon"><span class="iconify" data-inline="false" data-icon="zondicons:photo"
                    style="color: #70b5f9; font-size: 30px;"></span></div>
                <div class="flex-items-feeds-icon">Photo</div>
              </div>
            </div>
            <div class="flex-items-elements">
              <div class="flex-container-feeds-icon">
                <div class="flex-items-feeds-icon"><span class="iconify" data-inline="false" data-icon="dashicons:video-alt3" style="color: #7fc15e; font-size: 30px;"></span></div>
                <div class="flex-items-feeds-icon">Video</div>
              </div>
            </div>
            <div class="flex-items-elements">
              <div class="flex-container-feeds-icon">
                <div class="flex-items-feeds-icon"><span class="iconify" data-inline="false" data-icon="ic:baseline-event-available" style="color: #eab059; font-size: 30px;"></span></div>
                <div class="flex-items-feeds-icon">Event</div>
              </div>
            </div>
            <div class="flex-items-elements">
              <div class="flex-container-feeds-icon">
                <div class="flex-items-feeds-icon"><span class="iconify" data-inline="false" data-icon="ic:sharp-article" style="color: #f5987e; font-size: 30px;"></span></div>
                <div class="flex-items-feeds-icon">Article</div>
              </div>
            </div>
          </div>
          <!--


         -->



        </div>
      </div>
      <div class="flex-items-feeds">
        <div class="flex-container-post-feeds" *ngIf="feeds" >
          <div class="flex-items-post-feeds" *ngFor="let item of feeds">
            <div class="flex-container-post-name">
              <div class="flex-items-post-name">{{item.user.last_name}}
                <span class="color-light">liked a post</span>
              </div>

              <div class="flex-items-post-name">
                <span class="iconify" data-inline="false" data-icon="octicon:kebab-horizontal-16" style="color: #afafaf; font-size: 16px;"></span>
              </div>
           </div>
           <div class="flex-container-user">
            <div class="flex-items-user round-user">
              <img src="{{item.user.profile_image.large}}" alt="">
            </div>
            <div class="flex-items-user">
              <div class="user-name">
                <p>{{item.user.first_name}}</p>
              </div>
              <div class="user-bio">
                <p>"{{item.user.bio}}"</p>
              </div>
              <div>
                <div class="flex-container-user-updated">
                  <div class="flex-items-user-updated">
                    <span class="iconify" data-inline="false" data-icon="fluent:earth-20-filled" style="color: #c6c6c6; font-size: 20px;"></span>
                  </div>
                  <div class="flex-items-user-updated">
                    <span id="day-diff">{{item.updated_at |dateDifference}} ago</span>
                  </div>
               </div>
              </div>
            </div>
         </div>
           <div class="post-img">
             <img src="{{ item.urls.regular }}" >
           </div>
           <div class="flex-container-post-name">
            <div class="flex-items-post-name reaction">
              <span><img src="https://www.userflow.nl/images/Linkedin-Like-Icon-Thumbup250.png" alt="" srcset="" width="20px" ></span>
              <span><img src="https://www.userflow.nl/images/Linkedin-Celebrate-Icon-ClappingHands250.png" alt="" alt="" srcset="" width="20px" ></span>
              <span><img src="https://www.userflow.nl/images/Linkedin-Support-Icon-HeartinHand250.png" alt="" alt="" srcset="" width="20px" ></span>
            </div>
            <div class="flex-items-post-name"><span>{{item.likes}}</span> <span class="color-light">comments</span></div>



          </div>
          <div class="flex-container-reaction">
            <div class="flex-items-reaction" (click)="likedbyUser(item.id)">
              <div *ngIf="!item.liked_by_user">
                <span class="iconify" data-inline="false" data-icon="simple-line-icons:like" style="color: #868686; font-size: 14px;"></span><span class="small-text">like</span>
              </div>
              <div *ngIf="item.liked_by_user">
                <span class="iconify" data-inline="false" data-icon="whh:like" style="color: #0C67C2; font-size: 14px;"></span><span class="small-text" style="color: #0C67C2;">like</span>
              </div>


            </div>
            <div class="flex-items-reaction"><span class="iconify" data-inline="false" data-icon="fa-regular:comment-dots" style="color: #868686; font-size: 14px;"></span><span class="small-text" >comment</span></div>
            <div class="flex-items-reaction"><span class="iconify" data-inline="false" data-icon="el:share-alt" style="color: #868686; font-size: 14px;"></span><span class="small-text">share</span></div>
            <div class="flex-items-reaction"><span class="iconify" data-inline="false" data-icon="carbon:send-alt-filled" style="color: #868686; font-size: 14px;"></span><span class="small-text">send</span></div>
         </div>
          <div class="flex-container-post">
            <div class="flex-items-post comment-profile">
              <img
                src="https://media-exp3.licdn.com/dms/image/C5103AQHiyCu0ytkiKA/profile-displayphoto-shrink_800_800/0/1582986312253?e=1628726400&v=beta&t=HG0iMm8oIicMJmUtLro1ZdHNrxUdqjTa5HyTCj3SU_8"
                width="70vw">
            </div>
            <div class="flex-items-post input-comment">
              <input type="text" placeholder="Post a comment">
            </div>
          </div>

       </div>
      </div>
    </div>
  </div>

</div>
<div class="flex-items" style="position: sticky; top: 80px;">
  <div class="flex-container-news" >
    <div class="flex-items-news"><span>LinkedIn News</span></div>
    <div class="flex-items-news"><span><span class="iconify" data-inline="false" data-icon="entypo:info-with-circle" style="color: #5c5c5c; font-size: 20px;"></span></span></div>
 </div>
 <div class="flex-container-news-content" *ngIf="news">
  <div class="flex-items-news-content" *ngFor="let headline of news">
    <span style="font-size: 12px;">{{headline.author}}</span><br>

    <p style="font-size: 12px; color: #797979;"><span class="iconify" data-inline="false" data-icon="carbon:dot-mark" style="font-size: 10px;"></span>{{headline.title}}</p>
  </div>

</div>
</div>
</div>
