<nav>
    <div class="navContainer">
        <div class="iconHolder">
            <span class="iconify" data-inline="false" data-icon="logos:linkedin-icon" style="font-size: 42px;"></span>
        </div>
        <div class="searchHolder">
            <input class="normalSearch" (focus)="toggleSearchBox()" *ngIf="active!='jobs'" (focusout)="toggleSearchBox()" placeholder="Search"/>
            <div *ngIf="active=='jobs'">
                <input class="normalSearch jobsSearch" (keyup)="getKeyCode($event)" [(ngModel)]="searchText" (focus)="openSearchBox()" (focusout)="closeSearchBox()"  placeholder="Search by title,skills,company,keyword" />
            </div>
            <input class="normalSearch jobsSearch" *ngIf="active=='jobs'" placeholder="City,state or Zip-code" />
            <!-- <button *ngIf="active=='jobs'">Search</button> -->
            <app-pill-button *ngIf="active=='jobs'" (click)="search()" name="Search"></app-pill-button>
            <div class="searchDiv" [ngClass]="{'open':openSearchBar}">
                <div class="top">
                    <p>Recent</p>
                    <p>Clear</p>
                </div>
                <div class="recentItems" *ngIf="active!='jobs'">
                   <app-recent-search name="Rohan arya"></app-recent-search>
                   <app-recent-search name="Presidio"></app-recent-search>
                   <app-recent-search name="Google"></app-recent-search>
                </div>
                <div class="recentItems" *ngIf="active=='jobs'">
                    <ng-container *ngFor="let recent of recentSearch">
                        <app-recent-search [name]="recent" (click)="setSearchTerm(recent)" ></app-recent-search>
                    </ng-container>
                 </div>
            </div>
        </div>
        <div class="navIconsWrapper">
            <div class="anchorIcon" routerLink="/home" (click)="changeActive('home')" [ngClass]="{'active':active=='home'}">
                <span class="iconify icon inactiveIcon"  data-inline="false"  data-icon="ant-design:home-filled"></span>
                <p>Home</p>
            </div>
            <div class="anchorIcon" routerLink="/home/network" (click)="changeActive('network')" [ngClass]="{'active':active=='network'}">
                <span class="iconify icon inactiveIcon"  data-inline="false" data-icon="fluent:people-28-filled" ></span>
                <p>My Network</p>
            </div>
            <div class="anchorIcon" routerLink="/home/jobs" (click)="changeActive('jobs')" [ngClass]="{'active':active=='jobs'}">
                <span class="iconify icon inactiveIcon"  data-inline="false" data-icon="gridicons:briefcase" ></span>
                <p>Jobs</p>
            </div>
            <div class="anchorIcon" routerLink="/home/notifications" (click)="changeActive('notifications')" [ngClass]="{'active':active=='notifications'}">
                <span class="iconify icon inactiveIcon"  data-inline="false" data-icon="si-glyph:bell" ></span>
                <p>Notifications</p>
            </div>
            <div class="anchorIcon" (click)="openMe()" [ngClass]="{'active':active=='me'}">
                <div class="profilePic">
                    <div [ngStyle]="{'background-image':'url('+user.profilePic+')'}"></div>
                </div>
                <p>Me  </p><div class="arrow-down"></div>
                <div class="profileActions" [ngClass]="{'openProfileActions':openProfileActions}">
                    <div class="profileInfo">
                        <div class="avatar">
                            <img [src]="user.profilePic" alt="">
                        </div>
                        <div class="infos">
                            <p>{{user.username}}</p>
                            <p>{{user.role}}</p>
                        </div>
                    </div>
                    <div class="viewProfileBtnHolder">
                        <button routerLink="/home/profile">View Profile</button>
                    </div>
                    <app-hr></app-hr>
                    <div class="profileActionsCategory">
                        <p class="profileActionsHeading">Account</p>
                        <p routerLink="/home/settings">Settings & Privacy</p>
                        <p>Help</p>
                        <p>Language</p>
                    </div>
                    <app-hr></app-hr>
                    <div class="profileActionsCategory">
                        <p class="profileActionsHeading">Manage</p>
                        <p>Posts & Activity</p>
                        <p>Job Posting Account</p>
                    </div>
                    <app-hr></app-hr>
                    <p class="signout" (click)="signOut()">Sign out</p>
                </div>
            </div>
            <div class="anchorIcon workIcon">
                <span class="iconify icon inactiveIcon" data-inline="false" data-icon="bi:grid-3x3-gap-fill" ></span>
                <p>Work</p><div class="arrow-down"></div>
            </div>
            <div class="anchorIcon">
                <span class="iconify icon inactiveIcon" data-inline="false" data-icon="majesticons:shopping-bag" ></span>
                <p>Post a job</p>
            </div>
        </div>
    </div>
</nav>
