nav{
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 12;
    .navContainer{
        width: 75%;
        height: 70px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        .iconHolder{
            width: 5%;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .searchHolder{
            width: 30%;
            height: 100%;
            // background-color: green;
            display: flex;
            align-items: center;
            input{
                width: 250px;
                height: 20px;
                padding: 10px;
                padding-left: 40px;
                background-color: #eef3f7;
                background-image: url(../../../assets/search.png);
                background-size: 20px;
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 10px;
                border: none;
                border-radius: 8px;
                transition: width 500ms, padding-left 500ms;
            }
            input:focus{
                width: 300px;
                padding-left: 60px;
            }
        }
        .navIconsWrapper{
            // background-color: green;
            width: 65%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            .anchorIcon{
                width: 90px;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                cursor: pointer;
                color: #666666;
                .profilePic{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    div{
                        width: 30px;
                        height: 30px;
                        // background-color: green;
                        background-size: contain;
                        border-radius: 50%;
                    }
                }
                p{
                    width: 100%;
                    text-align: center;
                    font-size: 0.8em;
                    padding: 5px 0;
                }
                .profilePic + p{
                   width: 40%;
                }
                .arrow-down {
                    width: 0; 
                    height: 0; 
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #000;
                    margin: auto 0;
                  }
            }
            .workIcon{
                border-left: 1px solid black;
                p{
                    width: 40%;
                 }
            }
            .active{
                color: #000;
                border-bottom: 2px solid #000;
                .span{
                    color: #000 !important;
                }
            }
        }
    }
    
}

.icon{
    font-size: 30px;
    width:100%;
}
.inactiveIcon{
    color: #666666 ; 
}
// .activeIcon{
//     color: #000 ;
// }