<ul class="listmain listchild">
    <li class="subcat" id="profilediv">
        <h3>Advertising preferences</h3>
        <p>Choose how your data is used to show you more relevant ads</p>
    </li>
   
    <li class="subcat divider">
        <div class="subheading">Profile data for personalizing ads</div>
        <p>Choose how ads appear to you</p>
        <span class="indicator">
            Change
        </span>
    </li>


    <li class="subcat">
        <h3>Data collected on LinkedIn</h3>
        <p>Choose what type of data you would like LinkedIn to use to show you more relevant ads</p>
    </li>
   
    <li class="subcat divider">
        <div class="subheading">Location</div>
        <p>Choose whether your location can be used to show you relevant ads</p>
        <span class="indicator">
            Change
        </span>
    </li>

</ul>
