@import '../../constants/colors.scss';
.user-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .user-img{
        position: relative;
        
        // $imgKey: random(3);
        // $nth: nth($list, $imgKey);
        .user-icon{
            // content: url(../../../assets/images/usericon1.jpg);
            border-radius: 50%;
            width: 75px;
            height: 75px;
        }
    }

    .user-data-wrapper{
        display: flex;
        flex-grow: 1;
        
        .user-data{
            padding-left: 1rem;
            flex-grow: 1;
            color: $dullHeadingColor;
            font-weight: 400;
            
            .user-name{
                color: #191919;
                font-weight: 500;
                font-size: 20px;
            }
            
            .user-role{
                font-size: 13px;
                font-weight: 400;
            }
            .connected-time{
                font-size: 10px;
                font-weight: 400;
            }
        }
    }

    .user-card-footer{
        display: flex;
        align-self: center;
        button{
            color: $linkedinBlue;
            border: 2px solid $linkedinBlue;
            border-radius: 1.6rem;
            padding: 0.4rem 1.5rem;
            font-size: 0.9rem;
            text-transform: capitalize;
            width: 8rem;
            font-weight: 600;
            background: none;
            line-height: 1.2;
            
            &:hover{
                background-color: #E1F0FD;
                box-shadow: inset 0 0 0 1px $linkedinBlue;
            }
        }

        .loader {
            width: 25px;
            height: 25px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            margin-left: 20px;

            .dot {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: $dullHeadingColor;
                margin: 1px;
            }
            &:hover{
                background-color: #EBEBEB;
                border-radius: 50%;
            }
        }
    }
}


@media screen and (min-width : 320px) and (max-width : 768px) {
    .user-card{
        .user-data-wrapper{
            flex-direction: column;
            .user-card-footer{
                align-self: flex-start;
                flex-direction: column;
                margin-top: 1rem;
                margin-left: 1rem;
            }
        }
    }
}