<div class="container">
    <div class="left">
        <div class="profileCard card">
            <div class="pics">
                <div class="coverPic">
                    <img src="https://marketplace.canva.com/EAD7TRhFbfg/1/0/800w/canva-simple-work-linkedin-banner-o8RYd-hyoQI.jpg" />
                </div>
                <div class="profilePic">
                    <img src="https://media-exp3.licdn.com/dms/image/C5103AQHiyCu0ytkiKA/profile-displayphoto-shrink_400_400/0/1582986312253?e=1629331200&v=beta&t=9H8TAyff3fg28kuHEVw_cMf7aYUmyB-V5-i6r-W0skc"/>
                </div>
                <div class="editDiv">
                    <span class="iconify" data-inline="false" style="color: #666;font-size: 30px;"  data-icon="ic:outline-mode-edit"></span>
                </div>
            </div>
            <div class="userInfo">
                <div class="nameInfo">
                    <p class="title">Vijay Akash</p>
                    <p class="role mediumText">Full stack Developer</p>
                    <p class="smallText dullText">Chennai, Tamil Nadu, India &bull; <span class="link linkedinBlue font-weight-bold">Contact info</span></p>
                    <p class="link linkedinBlue font-weight-bold">480 Connections</p>
                </div>
                <div class="workInfo">
                    <div class="work">
                        <div>
                            <img  src="https://media-exp3.licdn.com/dms/image/C560BAQEEaQU0C9e7Dw/company-logo_100_100/0/1617287871106?e=1631750400&v=beta&t=iIGYQYeTNm8emghcojaz6apZV1iwMmtWJR-wENNi964"/>
                        </div>
                        <div>
                            <p class="link smallText">Presidio</p>
                        </div>
                    </div>
                    <div class="work">
                        <div>
                            <img  src="https://media-exp3.licdn.com/dms/image/C510BAQFoXum0MR5TxA/company-logo_100_100/0/1587456726755?e=1631750400&v=beta&t=4SU1iy3K3T6hSNMMmpg_Xw70YvzefldcY7M3oFT1qQQ"/>
                        </div>
                        <div>
                            <p class="link smallText">Easwari Engineering College</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actionsBtns">
                <button>Open to</button>
                <app-pill-button name="Add Section" type="dull"></app-pill-button>
                <app-pill-button name="More" type="dull"></app-pill-button>
            </div>
        </div>
        <div class="dashboard card">
            <div class="titleContainer">
                <p class="headingSize ">Your Dashboard</p>
                <p class="dullText mediumText">Private to you</p>
            </div>
            <div class="insightList card">
                <div class="insight link">
                    <p class="headingSize linkedinBlue">{{"407" | number}}</p>
                    <p>Who viewed your profile</p>
                </div>
                <div class="insight link">
                    <p class="headingSize linkedinBlue link">{{"5663" | number}}</p>
                    <p>Post Views</p>
                </div>
                <div class="insight link">
                    <p class="headingSize linkedinBlue link">{{"144" | number}}</p>
                    <p>Search appearances</p>
                </div>
            </div>
            <div class="dBoardOptions card">
                <div class="option">
                    <div>
                        <span class="iconify" style="color:#666;font-size:30px"  data-inline="false" data-icon="fluent:people-28-filled" ></span>
                    </div>
                    <div class="link">
                        <p class="mediumText font-weight-bold">My Network</p>
                        <p class="verySmallText dullText">Manage your connections,events and interests</p>
                    </div>
                </div>
                <app-hr></app-hr>
                <div class="option">
                    <div>
                        <span class="iconify" data-inline="false" data-icon="gridicons:money" style="color: #666666; font-size: 30px;"></span>
                    </div>
                    <div class="link">
                        <p class="mediumText font-weight-bold">Salary insights</p>
                        <p class="verySmallText dullText">See how your salary compares to others in the community.</p>
                    </div>
                </div>
                <app-hr></app-hr>
                <div class="option">
                    <div>
                        <span class="iconify" data-inline="false" data-icon="akar-icons:ribbon" style="color: #666666; font-size: 30px;" data-flip="vertical" data-rotate="180deg"></span>
                    </div>
                    <div class="link">
                        <p class="mediumText font-weight-bold">My items</p>
                        <p class="verySmallText dullText">Keep track of your jobs, courses and articles.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="activities card">
            <div class="titleContainer">
                <p class="headingSize ">Activities</p>
                <p class="dullText mediumText">480 followers</p>
            </div>
            <div class="activityList">
                <div class="activity">
                    <div>
                        <img src="https://media-exp3.licdn.com/dms/image/C4D22AQGewbDEB0tKgQ/feedshare-shrink_480/0/1623594484459?e=1626307200&v=beta&t=Y0k0x-VQIoSZp7FIoOq9iep7LZhaOdJv1XLrtE15P1s" />
                    </div>
                    <div class="link">
                        <p class="largeText font-weight-bold">Nice work!<br><span class="verySmallText font-weight-light">Vijay commented</span></p>
                    </div>
                </div>
                <div class="activity">
                    <div>
                        <img src="https://media-exp3.licdn.com/dms/image/C5622AQGpKXf6NjNTNw/feedshare-shrink_480/0/1623416300066?e=1626307200&v=beta&t=M1AkIQeWDCYR1o3RmdB_6J0hQ87-o18fiyaWvIySd84" />
                    </div>
                    <div class="link">
                        <p class="largeText font-weight-bold">
                            Keeping things aside, "CSWale" does sound better to ME.
                            <br>
                            <span class="verySmallText font-weight-light">Vijay commented</span>
                        </p>
                    </div>
                </div>
                <div class="activity">
                    <div>
                        <img src="https://media-exp3.licdn.com/dms/image/C5622AQGpKXf6NjNTNw/feedshare-shrink_480/0/1623416300066?e=1626307200&v=beta&t=M1AkIQeWDCYR1o3RmdB_6J0hQ87-o18fiyaWvIySd84" />
                    </div>
                    <div class="link">
                        <p class="largeText font-weight-bold">
                            Check this cool linkedin clone
                            <br>
                            <span class="verySmallText font-weight-light">Vijay commented</span>
                        </p>
                    </div>
                </div>
                <div class="activity">
                    <div>
                        <img src="https://media-exp3.licdn.com/dms/image/C4D22AQGewbDEB0tKgQ/feedshare-shrink_480/0/1623594484459?e=1626307200&v=beta&t=Y0k0x-VQIoSZp7FIoOq9iep7LZhaOdJv1XLrtE15P1s" />
                    </div>
                    <div class="link">
                        <p class="largeText font-weight-bold">Congratulations !<br><span class="verySmallText font-weight-light">Vijay commented</span></p>
                    </div>
                </div>
            </div>
            <app-hr></app-hr>
            <div class="seemore">
                <p>See all activity</p>
            </div>
        </div>
        <div class="experienceCard card">
            <div class="title">
                <p class="headingSize">Experience</p>
                <span class="iconify" style="color: #666;font-size: 30px;" data-inline="false" data-icon="akar-icons:plus"></span>
            </div>
            <div class="expList">
                <div class="experience">
                    <div class="editBtn">
                        <span class="iconify" data-inline="false" style="color: #666;font-size: 30px;"  data-icon="ic:outline-mode-edit"></span>
                    </div>
                    <div class="logo">
                        <img  src="https://media-exp3.licdn.com/dms/image/C560BAQEEaQU0C9e7Dw/company-logo_100_100/0/1617287871106?e=1631750400&v=beta&t=iIGYQYeTNm8emghcojaz6apZV1iwMmtWJR-wENNi964"/>
                    </div>
                    <div class="expInfo">
                        <p class="largeText">Software Engineer</p>
                        <p class="verySmallText dullText">Presidio &bull; Full-time</p>
                        <p class="verySmallText dullText">Mar 2021 - Present &bull; 4 mos</p>
                        <p class="verySmallText dullText">Chennai, Tamil Nadu, India</p>
                    </div>
                </div>
                <app-hr></app-hr>
                <div class="experience">
                    <div class="editBtn">
                        <span class="iconify" data-inline="false" style="color: #666;font-size: 30px;"  data-icon="ic:outline-mode-edit"></span>
                    </div>
                    <div class="logo">
                        <img  src="https://media-exp3.licdn.com/dms/image/C560BAQEu7lrFKE6azw/company-logo_100_100/0/1609126247530?e=1631750400&v=beta&t=vnWL3poJjnz-Y6Y3SeiOOMmpweyEcpTfCbRk_yjkzO8"/>
                    </div>
                    <div class="expInfo">
                        <p class="largeText">Project Trainee</p>
                        <p class="verySmallText dullText">Zoho Crorporation &bull; Internship</p>
                        <p class="verySmallText dullText">Jan 2020 - Feb 2020 &bull; 2 mos</p>
                        <p class="verySmallText dullText">Chennai, Tamil Nadu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="experienceCard card">
            <div class="title">
                <p class="headingSize">Education</p>
                <span class="iconify" style="color: #666;font-size: 30px;" data-inline="false" data-icon="akar-icons:plus"></span>
            </div>
            <div class="expList">
                <div class="experience">
                    <div class="editBtn">
                        <span class="iconify" data-inline="false" style="color: #666;font-size: 30px;"  data-icon="ic:outline-mode-edit"></span>
                    </div>
                    <div class="logo">
                        <img  src="https://media-exp3.licdn.com/dms/image/C510BAQFoXum0MR5TxA/company-logo_100_100/0/1587456726755?e=1631750400&v=beta&t=4SU1iy3K3T6hSNMMmpg_Xw70YvzefldcY7M3oFT1qQQ"/>
                    </div>
                    <div class="expInfo">
                        <p class="largeText">Easwari Engineering College</p>
                        <p class="verySmallText dullText">Bachelor of Engineering - BE, Computer Science &bull; 8.2</p>
                        <p class="verySmallText dullText">2016 - 2020</p>
                        <p class="verySmallText dullText">Chennai, Tamil Nadu, India</p>
                    </div>
                </div>
                <app-hr></app-hr>
                <div class="experience">
                    <div class="editBtn">
                        <span class="iconify" data-inline="false" style="color: #666;font-size: 30px;"  data-icon="ic:outline-mode-edit"></span>
                    </div>
                    <div class="logo">
                        <img  src="https://www.joonsquare.com/usermanage/image/business/tvs-matriculation-higher-secondary-school-madurai-9700/tvs-matriculation-higher-secondary-school-madurai-logo.png"/>
                    </div>
                    <div class="expInfo">
                        <p class="largeText">TVS Matriculation Higher Secondary School-Madurai</p>
                        <p class="verySmallText dullText">Madurai, Tamil Nadu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="ad card">
            <img src="https://static-exp1.licdn.com/scds/common/u/images/promo/ads/li_evergreen_jobs_ad_300x250_v1.jpg" />
        </div>
       <app-people-list title="People also viewed" [list]="peopleList"></app-people-list>
       <app-people-list title="People you may know" [list]="peopleSuggestion"></app-people-list>
    </div>
</div>