@import '../../constants/colors.scss';

.suggestion{
    display: flex;
    border: 1px solid $linkedinBlue;
    border-radius: 10000px;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0 5px 5px 0;
    p{
        font-size: 0.8em;
        font-weight: 500;
        padding: 2px 5px;
        display: flex;
        justify-items: center;
        align-items: center;
        color: $linkedinBlue;
    }
    &:hover{
        background-color: $fadedLinkedinBlue;
    }
}