@import '../../constants/colors.scss';

.footerOptions{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p{
        color: $dullText;
        font-size: 0.8em;
        cursor: pointer;
        margin: 5px 10px;
        &:hover{
            color: $linkedinBlue;
            text-decoration: underline;
        }
    }
}