<div class="connected-user-wrapper">
    <div class="user-card">
        <div class="user-img">
            <img class="user-icon" [src]='people.profilePic' alt="usericon">
        </div>
        <div class="user-data-wrapper">
            <div class="user-data">
                <div class="user-name">
                    {{people.name}}
                </div>
                <div class="user-role">{{people.role}}</div>
            </div>
            <div class="user-card-footer">
                <app-pill-button *ngIf="!people.followed" name="Connect"></app-pill-button>
                <app-pill-button *ngIf="people.followed"  name="Message"></app-pill-button>

            </div>
        </div>
    </div>
</div>