@import "../../constants/colors.scss";
ol, ul {
    list-style: none;
}


.overlay { 
    position: fixed; 
    overflow-y: scroll;
    margin-top: 5%;
    margin-left: 30% ;
    top: 0; right: 0; bottom: 0; left: 0; 
}



.listmain {
    width: 78%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-bottom: 24px;
    margin-right: -1px;
    margin-bottom: 96px;
    margin-left: 24px;
}

.listchild {
    background: #fff;
    padding: 0 24px;
    margin-top: 32px;
    border-radius: .8rem;
    border: 1px solid rgba(0,0,0,0.15);
}

.listmain >li {
    position: relative;
    padding: 8px 0 12px;
    border-bottom: 1px solid #e6e9ec;
}

.listchild>li {
    padding: 16px 0 16px 0;
}


.listmain .subcat{
    font-size: 20px;
    margin-top: 32px;
    padding-top: 0;
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.listmain .subcat h2{
    font-size: 30px;
    margin-top: 32px;
    padding-top: 0;
    font-weight: 500;
}

.listmain .subcat p{
    font-size: medium;
    color: $dullText;
    font-weight: 400;
    margin-bottom: 7px;
}


.listmain .subcat .indicator {
   cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0;
    font-weight: bold;
    font-size: small;
    color: rgba(0,0,0,0.75);
}

.subheading{
    font-size: 18px;
    font-weight: 500;
}

.inner{
    padding: 20px 20px;
}

.inner-options{
    margin: 0px 100px;
}

select{
    width: 350px;
    border-radius: .4rem;
    box-shadow: none;
    outline: 0;
    height: 32px;
    background: transparent;
    position: relative;
    z-index: 2;
    background: transparent;
    vertical-align: middle;
}


.inputbox{
    float: right;
    margin-right: 55%;
    width: 160px;
    border-radius: .4rem;
    box-shadow: none;
    outline: 0;
    height: 19px;
    background: transparent;
    position: relative;
    z-index: 1;
    background: transparent;
    vertical-align: middle;
}

.leftspace{
    margin-left: 30%;
}

//..................................

@media (max-width:1000px){
  
    .overlay { 
        position: fixed; 
        overflow-y: scroll;
        margin-top: 10%;
        margin-left: 22%;
        top: 0; right: 0; bottom: 0; left: 0; 
    }
    
    
    
    .listmain {
        width: 95%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-bottom: 24px;
        margin-right: -1px;
        margin-bottom: 96px;
        margin-left: 24px;
    }
    
    .listchild {
        background: #fff;
        padding: 0 24px;
        margin-top: 32px;
        border-radius: .8rem;
        border: 1px solid rgba(0,0,0,0.15);
    }
    
    .listmain >li {
        position: relative;
        padding: 8px 0 12px;
        border-bottom: 1px solid #e6e9ec;
    }
    
    .listchild>li {
        padding: 16px 0 16px 0;
    }
    
    
}

@media (max-width:600px){
  
    .overlay { 
        position: fixed; 
        overflow-y: scroll;
        margin-top: 10%;
        margin-left: 36%;
        top: 0; right: 0; bottom: 0; left: 0; 
    }

    .listmain {
        width: 90%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-bottom: 24px;
        margin-right: -1px;
        margin-bottom: 96px;
        margin-left: 24px;
    }
}