<ul class="listmain listchild">
    <li class="subcat" id="profilediv">
        <h3>Visibility of your profile & network</h3>
        <p>Make your profile and contact info only visible to those you choose</p>
    </li>
   

    <li class="subcat divider">
        <div class="subheading">Profile viewing options</div>
        <p>Choose whether you’re visible or viewing in private mode</p>
        <span class="indicator">
            Change
        </span>
    </li>

    <li class="subcat divider">
        <div class="subheading">Edit your public profile</div>
        <p>Choose how your profile appears to non-logged in members via search</p>
        <span class="indicator">
            Change
        </span>
    </li>

    <li class="subcat divider">
        <div class="subheading">Connections</div>
        <p>Choose if your connections can see your connections list</p>
        <span class="indicator">
            Change
        </span>
    </li>


    <li class="subcat" id="profilediv">
        <h3>Visibility of your LinkedIn activity</h3>
        <p> Make sure your network only sees the activity you choose to show</p>
    </li>
   
    <li class="subcat divider">
        <div class="subheading">Manage active status</div>
        <p>Choose who can see when you are on LinkedIn</p>
        <span class="indicator">
            Change
        </span>
    </li>

    <li class="subcat divider">
        <div class="subheading">Followers</div>
        <p>Choose who can follow you and see your public updates</p>
        <span class="indicator">
            Change
        </span>
    </li>
    
</ul>
