.network-wrapper{
    background-color: #F3F2EF;
    
    .network-list{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;

        .manage-network{
            width: min-content;
            .networks
            {
                width: 18vw;
                background-color: #FFFFFF;
                border-radius: 10px;
                cursor: pointer;
                border: 1px solid #E0DFDC ;
                height: max-content;
                padding-bottom: 10px;

            .title{
                color: #191919;
                line-height: 1.5;
                font-size: 1rem;
                font-weight: 400;
                margin: 1.2rem;
                margin-bottom: 0.3rem;

            }
            .network-type-list{
                list-style: none;
                transition: all 1.3s ease-in;

                .netwokurl{
                    width: 100%;
                    cursor: pointer;
                    background: none;
                    border: none;
                    text-align: start;
                    color: #666666;

                    .network-type{
                        display: flex;
                        padding: 8px 20px;
                        font-size: 1rem;
                        
                        &:hover{
                            background-color: #EBEBEB;
                        }
                    
                        .type-name{
                            flex: 1;
                        }
    
                    }
                }
            }
            .show{
                background: none;
                border: none;
                color: #666666;
                padding: 1rem 1.3rem;
                font-size: 1rem;
                border-radius: 5px;
                font-weight: 600;
                cursor: pointer;
                margin: 1.2rem;
                margin-top: 0rem;
                margin-bottom: 0.3rem;
                margin-left: 0.3rem;
                position: relative;
                &:hover{
                    background-color: #EBEBEB;
                }
                span{
                    background: inherit;
                }
                .iconify{
                    margin-left: 0.5rem;
                }

            }
          }
        }

        .people-wrapper{
            margin-left: 2.5rem;
            width: 70vw;
            background-color: #FFFFFF;
            border: 1px solid #E0DFDC;
            border-radius: 10px;

            ul{
                list-style: none;
                .title{
                    margin: 1.2rem;
                    margin-bottom: 0.3rem;
                }
            }
        }
    }
}