@import '../../constants/colors.scss';
.dulltext{
    color:$dullText;
}
.container{

}
.filterContainer{
    position: fixed;
    top:70px;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 10px 10px -1px rgba(131,131,131,0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.hr{
    width: 100%;
}
.filterWrapper{
    width: 75%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.dropDownFilter{
    min-width: 100px;
    display: flex;
    margin-right: 10px;
    button{
        display: flex;
        padding: 5px 15px;
        border-radius: 100px;
        background:none;
        border: 1px solid rgb(184, 184, 184);
        color: $dullText;
        cursor: pointer;
        font-weight: 600;
        font-size: 1em;
        transition: background-color 300ms;
        &:hover{
            background-color: rgba(145, 145, 145, 0.329);
        }
    }
    .active{
        color: #fff;
        background-color: #037642;
        border: none;
        div{
            border-top: 5px solid #fff;
        }
    }
}
main{
    width: 100%;
    height: calc(100vh - 143px);
    margin-top: 72px;
    position: sticky;
    top:140px;
    display: flex;
}
.left{
    width: 40%;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid rgb(228, 228, 228);
    overflow-y: auto;
}
.functions{
    display: flex;
    justify-content: space-between;
    border-left: 2px solid $linkedinBlue;
    .totalWrapper{
        padding: 10px;
        p:nth-child(1){
            font-size: 1.1em;
            font-weight: 500;
        }
        p:nth-child(2){
            font-size: 0.8em;
        }
    }
    .functionWrapper{
        display: flex;
        padding: 10px;
        width: 35%;
        justify-content: space-between;
        >*{
            align-self: center;
        }
    }
}
.right{
    width: 59.9%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
}


//toggle switch
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .on{

      background-color: #037642;
      box-shadow: 0 0 1px #037642;
      &::before{
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }