<div class="overlay">
    <ul class="listmain listchild">
        <li class="subcat" id="profilediv">
            <h2>How LinkedIn uses your data</h2>
            <p>Manage how your data is used and download it anytime</p>
        </li>
        <li class="subcat divider">
            <div class="subheading">Search history</div>
            <p>Clear all previous searches performed on LinkedIn</p>
            <span class="indicator">
                Change
            </span>
        </li>
        <li class="subcat" id="preferences">
            <h2>Job seeking preferences</h2>
            <p>Privacy controls for job seeking activity on LinkedIn</p>
        </li>
        <li class="subcat divider">
            <div class="subheading">Job application settings</div>
            <p>Choose what information LinkedIn saves when you submit a job application.</p>
            <span class="indicator">
                Change
            </span>
        </li>
        <li class="subcat divider">
            <div class="subheading">Stored job applicant accounts</div>
            <p>Manage which third-party job applicant accounts are stored on LinkedIn</p>
            <span class="indicator">
                Change
            </span>
        </li>
        <li class="subcat" id="others">
            <h2>Other applications</h2>
            <p>Control how associated accounts can use your data</p>
        </li>
        <li class="subcat divider">
            <div class="subheading">Permitted services</div>
            <p>View services you’ve authorized and manage data sharingChange1 connected app.</p>
            <span class="indicator">
                Change
            </span>
        </li>
        <li class="subcat divider">
            <div class="subheading">Microsoft Word</div>
            <p>Choose whether work experience from your profile can be shown in Resume Assistant within Microsoft Word.
            </p>
            <span class="indicator">
                Change
            </span>
        </li>
    </ul>
</div>