@import '../../constants/colors.scss';
$cardWidth:96%;
.sticky{
    position: -webkit-sticky;
    position: sticky;
    top:100px;
}
.card{
    background-color: #fff;
    border-radius: 8px;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    .left{
        width: 25%;
        .optionsList{
            width: $cardWidth;
            height: 380px;
            margin: 10px 0px;
            padding-top: 25px;
        }
        .postJob{
            width: $cardWidth;
            height: 50px;
            margin: 10px 0px;
            padding: 10px 0;
        }
    }
    .center{
        width: 50%;
        padding-bottom: 30px;
        margin: auto;
        .suggestedSearchWrapper{
            width: $cardWidth;
            margin: 10px auto;
            min-height: 200px;
            .top{
                display: flex;
                justify-content: space-between;
                padding: 20px 20px;
                p{
                    font-size: 1.3em;
                    font-weight: 500;
                    letter-spacing: 0px;
                }
                button{
                    background: none;
                    border: none;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                    padding: 3px;
                    &:hover{
                        background-color: rgb(221, 221, 221);
                    }
                }
            }
            .suggestionList{
                width: 94%;
                padding: 10px 20px;
                display: flex;
                flex-wrap: wrap;
                .suggestion{
                    display: flex;
                    border: 1px solid $linkedinBlue;
                    border-radius: 10000px;
                    padding: 2px 5px;
                    cursor: pointer;
                    margin: 0 5px 5px 0;
                    p{
                        font-size: 0.8em;
                        font-weight: 500;
                        padding: 2px 5px;
                        display: flex;
                        justify-items: center;
                        align-items: center;
                        color: $linkedinBlue;
                    }
                    &:hover{
                        background-color: $fadedLinkedinBlue;
                    }
                }
            }
        }
        
    }
    .right{
        width: 25%;
        .adWrapper{
            width: $cardWidth;
            height: 210px;
            margin: 10px 0px 10px auto;
            padding-bottom: 10px;
            >p{
                padding-top: 20px;
                padding-left: 15px;
                font-size: 1.3em;
                font-weight: 500;
            }
            .ad{
                margin-top: 20px;
                width: 92%;
                margin: 20px auto 10px auto;
                display: flex;
                border: 1px solid rgb(224, 224, 224);
                border-radius: 10px;
                div:nth-child(1){
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                div:nth-child(2){
                    width: 70%;
                    p:nth-child(1){
                        color: $linkedinBlue;
                        font-weight: 500;
                        padding: 10px 10px;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    p:nth-child(2){
                        padding: 2px 10px 20px 10px;
                        font-size: 0.8em;
                    }
                }
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}
.option{
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 10px;
    cursor: pointer;
    p{
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 2px 8px;
        font-size:1em;
        color:$dullHeadingColor;
    }
    p:nth-child(1){
        width: 30px;
        text-align: center;
    }
    &:hover{
        background-color: rgb(207, 207, 207);
    }
}