<div class="flex-container">
  <div class="flex-items">
    <div class="heading-component">
      <Span>Interests</Span>
    </div>
    <div class="flex-container-col">
      <div class="flex-items-col">
        <div class="flex-container-interest-profile">
          <div class="flex-items-interest-profile">
            <div class="container-interest-links">
              <div class="interest-links">
                <img
                  src="https://media-exp3.licdn.com/dms/image/C5607AQH-zLkZ0CI57Q/group-logo_image-shrink_200x200/0/1616015962039?e=1623765600&v=beta&t=UXfbkLqS_JuWI6Z-qZiwg1GgcOqyyoW41vOgBrPzru0"
                  alt="">
              </div>
              <div class="interest-links">

                <a href="">
                  <p>Front-end</p>
                  <p>65,000 follower</p>
                </a>
              </div>
            </div>
          </div>
          <div class="flex-items-interest-profile">
            <div class="container-interest-links">
              <div class="interest-links">
                <img
                  src="https://media-exp3.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_100_100/0/1618231291419?e=1631750400&v=beta&t=BF5HxHU4xDnT0-hGNOzeWTxjcdx8SChkLzYJWfKA2TA"
                  alt="">
              </div>
              <div class="interest-links">
                <a href="">
                  <p>Microsoft</p>
                  <p>65,000 follower</p>
                </a>
              </div>
            </div>
          </div>
          <div class="flex-items-interest-profile">
            <div class="container-interest-links">
              <div class="interest-links">
                <img
                  src="https://media-exp3.licdn.com/dms/image/C4E0BAQFSLx_G50hiIA/company-logo_100_100/0/1622139376437?e=1631750400&v=beta&t=--4M_u6pTjKPRDZxsNLOPKZkmyBHL1ufKysHlWmcfxg"
                  alt="">
              </div>
              <div class="interest-links">
                <a href="">
                  <p>Accenture</p>
                  <p>65,000 follower</p>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-items-col">
        <div class="flex-container-interest-profile">
          <div class="flex-items-interest-profile">

          </div>
          <div class="flex-items-interest-profile">
            <div class="container-interest-links">
              <div class="interest-links">
                <img
                  src="https://media-exp3.licdn.com/dms/image/C4D0BAQHiNSL4Or29cg/company-logo_100_100/0/1519856215226?e=1631750400&v=beta&t=V4NBm-NohF2bjS1mrIlkZq3-gKb49SpeBtV80UPFSR8"
                  alt="">
              </div>
              <div class="interest-links"><a href="">
                  <p>Google</p>
                  <p>99,612 members</p>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="flex-items-interest-profile">
          <div class="container-interest-links">
            <div class="interest-links">
              <img
                src="https://media-exp3.licdn.com/dms/image/C4E0BAQGmS4ZS9i2T6w/company-logo_100_100/0/1568109893443?e=1631750400&v=beta&t=Hi728ofqO5uVv7LdQblJxCw_VEsJEYfVQswBu88EDo0"
                alt="">
            </div>
            <div class="interest-links"><a href="">
                <p>Oracle</p>
                <p>99,612 members</p>
              </a>

            </div>
          </div>
        </div>
        <div class="flex-items-interest-profile">
          <div class="container-interest-links">
            <div class="interest-links
              ">
              <img
                src="https://media-exp3.licdn.com/dms/image/C560BAQHRlv1Ln2fMmA/company-logo_100_100/0/1622520786220?e=1631750400&v=beta&t=qvtQm3ftil_YhhN4O1E8xZX1Lm-O-3HaHGwIbT1MW3U"
                alt="">
            </div>
            <div class="interest-links"><a href="">
                <p>cisco</p>
                <p>99,612 members</p>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div style="border: 1 px black;text-align: center; color: #5a5a5a;padding-bottom: 10px; padding-top: 10px;">See all
    </div>
  </div>
</div>
