body {
    width: 100%;
    font-family: sans-serif;
    margin:0;
    height: 100vh;
}

.nav {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.nav div {
    display: flex;
    align-items: center;

}

.icon-name{
    margin-top: 10px;
    margin-left: 160px;
    margin-right: 5px;
    color:#206ec2;
    font-size: 35px;
    font-weight: 600;
}

.spano {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
}

.spano > div {
    margin-right: 20px;
}

.spano div span {

    color: #495450;
}

.point{
    cursor: pointer;
}
.signin {

    border: 1px solid #2977c9;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
    border-radius: 30px;
}


// ...................
.container {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    background-color: white;
}

.container > div {
    width: 50%;
}


.sub {
    margin-top: 5%;
    margin-left:23%;
    color: #2977c9;
    font-weight: 500;
    font-size: 42px;
}

ul {
    list-style-type: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style-type: none;
}
.list-ele{
    
       box-shadow: 0px -1px 1px rgb(0 0 0 / 8%),
        1px 0px 1px rgb(0 0 0 / 8%), 
        -1px 0px 1px rgb(0 0 0 / 8%), 
        0px 1px 1px rgb(0 0 0 / 8%);
        padding: 16px;
        color: black;
}
.place{
    margin-left: 23%;
    margin-top: 10%;
    margin-bottom: 20%;
}
.space{
    margin-left: 180px;
}

.space2{
    margin-left: 120px;
}

.ele2{
    margin-top: 50px;
}
.ele3{
    margin-top: 50px;
}


img {
    width: 100%;
    height: auto;
  }

.container2{
    padding: 10px 65px;
}

.ctabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;

}
