<div class="nav">
    <div>
        <div class="icon-name">Linked</div><span class="iconify"  data-icon="logos:linkedin-icon" style="font-size: 35px;"></span>
    </div>

    <div class="spano">
        <div><span class="point" [routerLink]="['./register']">Join Now</span></div>
        <div><span class="signin point" [routerLink]="['./login']" >Sign in</span></div>
    </div>
</div>

<div class="container">
    <div>
        <p class="sub">Welcome to your <br> professional community</p>
    
    <ul class="place">
        <li>
            <a class="list-ele">Search for a Job
                <span class="iconify space" data-icon="gridicons-arrow-right" ></span>
            </a>
        </li>
        <li class="ele2">
            <a class="list-ele">Find a person you know
                <span class="iconify space2" data-icon="gridicons-arrow-right" ></span>
            </a>
        </li>
        <li class="ele3">
            <a class="list-ele">Learn a new skill
                <span class="iconify space" data-icon="gridicons-arrow-right" ></span>
            </a>
        </li>
    </ul>
</div>

    <div class="container2">
        <img src="https://static-exp1.licdn.com/sc/h/dxf91zhqd2z6b0bwg85ktm5s4">
    </div>

</div>