.connection{
    padding: 3rem 0;
    background-color: #F3F2EF;
    display: flex;

    .connection-wrapper{        
        width: 100vw;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid #E0DFDC;

        .filter-results{
            padding: 1rem 2rem;
            border-top: 1px solid #EBEBEB;

            ul {
                list-style: none;
            }
        }

        .no-data{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2rem;
        }
    }
    .footer{
        width: 35vw;
        margin-left: 1rem;
    }
}