<div id="root">
    <div>
        <div class="login"><img src="https://www.logo.wine/a/logo/LinkedIn/LinkedIn-Logo.wine.svg" alt="linkedin logo">
            <h1>Make the most of your professional life</h1> 
            <br>
            <form [formGroup]="login">
               <!-- <span class="txt" *ngIf="!login.controls.text.valid && login.controls.text.touched">This field is necessary.</span><br>
                <input placeholder="First name" type="text" value="" formControlName="text" pattern="[A-Za-z0-9._%+-]{2,}$"><br>

                <span class="txt" *ngIf="!login.controls.text1.valid && login.controls.text1.touched">This field is necessary.</span><br>
                <input placeholder="Last name" type="text1" value="" formControlName="text1" pattern="[A-Za-z0-9._%+-]{2,}$"><br>
                -->

                <span class="txt" *ngIf="!login.controls.email.valid && login.controls.email.touched">Invalid Entry</span><br>
                <h2>Email or phone number</h2>
                <input placeholder="" type="email" value="" formControlName="email"><br>

                <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"-->
                <span class="txt" *ngIf="!login.controls.password.valid && login.controls.password.touched">Kindly create an alphanumeric password of good strength.</span><br>
                <h2>Password (6 or more characters)</h2>
                <input placeholder="" type="password" value="" formControlName="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{7,12}$"><br>
               
                <p>By clicking Agree & Join, you agree to the LinkedIn <a href><br>User Agreement, Privacy Policy</a>, and <a href>Cookie Policy</a>.</p>
                <!--
               <span class="txt" *ngIf="!login.controls.password1.valid && login.controls.password1.touched && login.controls.password1.value != login.controls.password.value">Passwords do not match.</span><br>
                <input placeholder="Confirm Password" type="password" value="" formControlName="password1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-])]$"><br>
                -->

                <button type="submit" routerLink="/login">Agree & Join</button><br>
            </form>
                <h4>© 2021 LinkedIn</h4>
            </div>
        </div>
    </div>

    <!-- DOES NOT RESEMBLE THE ACTUAL PAGE-->