@import "../../constants/colors.scss";
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
*, body {
    margin: 0;
}
body {
    display: block;
    margin: 8px;
}

.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 90px;
}

div {
    display: block;
}

.login form input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: .5px solid $dullText;
}

input[type="text" i] {
    padding: 1px 2px;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.login form button {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    margin-left: 7px;
    font-size: large;
    color: #fff;
    background-color: $linkedinBlue;
    border-radius: 50px;
    border: .5px solid;
    outline: none!important;
}

.login img {
    object-fit:scale-down;
    height: 150px;
    margin-top: -80px;
}

input[type="text" i] {
    padding: 1px 2px;
}

input[type="email" i] {
    padding: 1px 2px;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
    padding: 1px 2px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.login h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
}

.login p {
    margin-top: 20px;
}

.txt{
    font-size: x-small;
    color: darkred;
}

h1{
    font-size: xx-large;
    font-weight: 400;
    margin-top: -30pt;
}

h4 {
    font-size: 12px;
    font-weight: 500;
    margin-top: 40px;
    color: gray;
}

h2 {
    font-size: 12px;
    font-weight: 500;
    color: gray;
}

p{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

form {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: -2px 3px 20px -3px rgba(0,0,0,0.75);
}