<div class="overlay">
    <ul class="listmain listchild">
        <li class="subcat" id="com-notify">
            <h3>How you get your notifications</h3>
            <p>Controls to make sure you only get notified about what's important to you</p>
        </li>


        <li class="subcat divider">
            <div class="subheading">On LinkedIn</div>
            <p>Received via LinkedIn web and app</p>
            <span class="indicator">
                Change
            </span>
        </li>

        <li class="subcat divider">
            <div class="subheading">Email</div>
            <p>Received via your primary email</p>
            <span class="indicator">
                Change
            </span>
        </li>

        <li class="subcat" id="com-reach">
            <h3>Who can reach you</h3>
            <p>Manage who you'd like to get communications from</p>
        </li>

        <li class="subcat divider">
            <div class="subheading">Invitations to connect</div>
            <p>Choose who can connect with you</p>
            <span class="indicator">
                Change
            </span>
        </li>

        <li class="subcat divider">
            <div class="subheading">Followers</div>
            <p>Choose who can follow you and see your public updates</p>
            <span class="indicator">
                Change
            </span>
        </li>

        <li class="subcat" id="msgs">
            <h3>Messaging experience</h3>
            <p>Choose how would you like LinkedIn to customize your experience</p>
        </li>

        <li class="subcat divider">
            <div class="subheading">Read receipts and typing indicators</div>
            <p>Choose if you want read receipts and typing indicators enabled</p>
            <span class="indicator">
                Change
            </span>
        </li>
    </ul>
</div>